{% extends 'base.html' %}
    {% load widget_tweaks %}
    {% load static %}
    {% block content %}
    <br/>
    <br/>
    <style> 
        select {
            width:50%;
        }
    </style>
    <div class="container" style="font-size:22px;">
        <div class="row">
            <div class="col">
                <br/>
                <h3> Vote For the MVP of the 2019-2020 Season </h3>
                <br/>
                <form action="{% url 'mvp_vote' %}" method="post">
                    {% csrf_token %}
                    {{form}}
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
            </div>

            <div class="col" style="width: 75%;">
                <br/>
                <h2 style="text-align:center;"> <b>Current MVP Vote Leaders</b> </h2>
                <br/>
                <canvas id="pie-chart"></canvas>
            </div>
        </div>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script>
            var config = {
                type: 'pie',
                data: {
                    datasets: [{
                    data: {{ data|safe }},
                    backgroundColor: [
                        '#32a840', '#e6db12', '#1235e6', '#C0C0C0', '#362f34',
                        '#e61232', '#11b1f0', '#f09711', '#adf011', '#f011bc'

                    ],
                    label: 'Population'
                    }],
                    labels: {{ labels|safe }}
                },
                options: {
                    responsive: true
                }
            };

            window.onload = function() {
                var ctx = document.getElementById('pie-chart').getContext('2d');
                window.myPie = new Chart(ctx, config);
            };

        </script>
    <br/>
    <br/>
    {% endblock %}