{% extends 'base.html' %}
    {% load static %}
    {% block content %}
    <style>

    .container-flex{
        background-color: #ff0000;
        text-align: left;
        color: white;
    }
    .container-flex-right{
        background-color: #0000FF;
        text-align: left;
        color: white;
    }
    .tournament{
        display:flex;
        flex-direction:row;
        overflow: auto;
    }
    .round{
        display:flex;
        flex-direction:column;
        justify-content:center;
        width:200px;
        list-style:none;
        padding-left: 10px;
    }
    .round-right{
        display: flex;
        flex-direction:column;
        justify-content:center;
        width:200px;
        list-style:none;
        padding-left:10px;
    }
    .tab{
        display: flex;
        justify-content: space-between;
    }

 

    .round .spacer{ flex-grow:2; }
    .round .spacer:first-child,
    .round .spacer:last-child{ flex-grow:1; }

    .round-right .spacer-right{ flex-grow:2; }
    .round-right .spacer-right:first-child,
    .round-right .spacer-right:last-child{ flex-grow:1; }

    .round-right .game-spacer-right{
        flex-grow:2;
    }
    .round .game-spacer{
        flex-grow:2;
    }

        /*
        *  General Styles
        */
    li.game{
        padding-left:20px;
        /*margin-left: 5px*/
    }

    li.game-right{
        padding-right:20px
        /*margin-right: 5px;*/
    }

    li.game.winner{
        font-weight:bold;
    }

    li.game-right.winner{
        font-weight: bold;
    }

    li.game span{
        float:right;
        margin-right:5px;
    }

    li.game-right span{
        float: right;
        margin-left: 5px;
    }

    li.game-top{ border-bottom:1px solid #FF0000; }

    li.game-right-top{ border-bottom: 1px solid #0000FF;}

    li.game-spacer{ 
        border-right:1px solid #FF0000;
        min-height:40px;
        }

    li.game-spacer-right{
        border-left: 1px solid #0000FF;
        min-height: 40px;
    }

    li.game-bottom{ 
        border-top:1px solid #FF0000;
    }
    li.game-right-bottom{
        border-top:1px solid #0000FF;
    }
    </style>

<div class="container">
    <br/>
    <h1>2019-2020 NBA Playoffs Bracket</h1>
    <br/>
    <h4 class="tab">Western-Conference<span>&nbsp;</span>Eastern-Conference</h4>
        <div class="tournament">
        <ul class="round round-1">
            <li class="spacer">&nbsp;</li>
            
            <li class="container-flex game game-top">1. {{western_teams.0}}<span>0</span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="container-flex game game-bottom ">8. {{western_teams.7}}<span>0</span></li>

            <li class="spacer">&nbsp;</li>
            
            <li class="container-flex game game-top">4. {{western_teams.3}}<span>0</span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="container-flex game game-bottom ">5. {{western_teams.4}}<span>0</span></li>

            <li class="spacer">&nbsp;</li>
            
            <li class="container-flex game game-top">3. {{western_teams.2}}<span>0</span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="container-flex game game-bottom">6. {{western_teams.5}} <span>0</span></li>

            <li class="spacer">&nbsp;</li>
            
            <li class="container-flex game game game-top">2. {{western_teams.1}} <span>0</span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="container-flex game game-bottom ">7. {{western_teams.6}} <span>0</span></li>

            <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-2">
            <li class="spacer">&nbsp;</li>
            
            <li class="container-flex game game-top">TBD<span></span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="container-flex game game-bottom ">TBD<span></span></li>

            <li class="spacer">&nbsp;</li>
            
            <li class="container-flex game game-top ">TBD<span></span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="container-flex game game-bottom">TBD<span></span></li>

            <li class="spacer">&nbsp;</li>
        </ul>

        <ul class="round round-3">
            <li class="spacer">&nbsp;</li>
            <li class="container-flex game game-top ">TBD<span></span>
            <li class="game game-spacer">&nbsp;</li>
            <li class="container-flex game game-bottom">TBD<span></span></li>
            <li class="spacer">&nbsp;</li>
        </ul>    

        <ul class="round round-4">
            <li class="spacer">&nbsp;</li>
            <li class="container-flex game game-top">TBD<span></span>
            <li class="spacer">&nbsp;</li>
        </ul>
        <!-- START OF THE EASTERN CONFERENCE -->

        <ul class="round-right round-right-4">
            <li class="spacer-right">&nbsp;</li>
            <li class="container-flex-right game-right game-right-top">TBD<span></span>
            <li class="spacer-right">&nbsp;</li>
        </ul>

        <ul class="round-right round-right-3">
            <li class="spacer-right">&nbsp;</li>
            <li class="container-flex-right game-right game-right-top" >TBD<span></span>
            <li class="game-right game-spacer-right">&nbsp;</li>
            <li class="container-flex-right game-right game-right-bottom">TBD<span></span></li>
            <li class="spacer-right">&nbsp;</li>
        </ul> 
        <ul class="round-right round-right-2">
            <li class="spacer-right">&nbsp;</li>
            <li class="container-flex-right game-right game-right-top">TBD<span></span></li>
            <li class="game-right game-spacer-right"></li>
            <li class="container-flex-right game-right game-right-bottom">TBD<span></span></li>

            <li class="spacer-right">&nbsp;</li>
                
            <li class="container-flex-right game-right game-right-top">TBD<span></span></li>
            <li class="game-right game-spacer-right">&nbsp;</li>
            <li class="container-flex-right game-right game-right-bottom">TBD<span></span></li>

            <li class="spacer-right">&nbsp;</li>
        </ul>

        <ul class="round-right round-right-1">
            <li class="spacer-right">&nbsp;</li>
            
            <li class="container-flex-right game-right game-right-top">1. {{eastern_teams.0}}<span>0</span></li>
            <li class="game-right game-spacer-right">&nbsp;</li>
            <li class="container-flex-right game-right game-right-bottom ">8. {{eastern_teams.7}} <span>0</span></li>

            <li class="spacer-right">&nbsp;</li>
            
            <li class="container-flex-right game-right game-right-top">4. {{eastern_teams.3}}<span>0</span></li>
            <li class="game-right game-spacer-right">&nbsp;</li>
            <li class="container-flex-right game-right game-right-bottom ">5. {{eastern_teams.4}}<span>0</span></li>

            <li class="spacer-right">&nbsp;</li>
            
            <li class="container-flex-right game-right game-right-top">3. {{eastern_teams.2}}<span>0</span></li>
            <li class="game-right game-spacer-right">&nbsp;</li>
            <li class="container-flex-right game-right game-right-bottom ">6. {{eastern_teams.5}}<span>0</span></li>

            <li class="spacer-right">&nbsp;</li>
            
            <li class="container-flex-right game-right game-right-top">2. {{eastern_teams.1}}<span>0</span></li>
            <li class="game-right game-spacer-right">&nbsp;</li>
            <li class="container-flex-right game-right game-right-bottom ">7. {{eastern_teams.6}}<span>0</span></li>

            <li class="spacer-right">&nbsp;</li>
        </ul>
    </div>
</div>

{% endblock %}
