{% extends 'base.html' %}
    {% load static %}
    {% block content %}
    {% load render_table from django_tables2 %}
    <br/>
    <style>
        thead a {
            color: black;
        }

        .name a:hover {
            color: blue;
        }

        li {
            padding: 2px;
        }
        li a {
            color: black;
        }

        #first_col {
            min-width: 120px;
            max-width: 120px;
            left: 0px;
            position: sticky;
            position: -webkit-sticky;
            background-color: #f0f0f0;
        }

        tr {
            border-bottom: 1px solid #828181;
        }

    </style>
    <p style="font-size:14px; font-weight:bold; text-align:center"> League Leaders </p>
    <div class="table-sm table-responsive" style="overflow:scroll; margin-left:10px; font-size: 7px;">
        {% render_table table %}
    </div>

    <script>
        $(document).ready(function() {
            $("#set_more").attr('colspan',3);
        });
    </script>

    {% endblock %}