{% extends 'base.html' %}
    {% load static %}
    {% block content %}

    <script>
        if ((typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1)) {
            location.href = "/basketball/team_mobile/{{team_id}}";
        }
    </script>
        <!--
            'team_name':team.team_name,'team_abv':team.team_abv,"team_wins":team.team_wins,"team_losses":team.team_losses,
            'conference':team.conference,'division':team.division,'conference_rank':team.conference_rank,
            'points_per_game':round(team.points_total/team.games_played,1),
            'assists_per_game':round(team.assists_total/team.games_played,1),
            'offensive_rebounds_per_game':round(team.offensive_rebounds_total/teams.games_played,1),
            'defensive_rebounds_per_game':round(team.defensive_rebounds_total/teams.games_played,1),
            'rebounds_per_game':round(team.rebounds_total/teams.games_played,1),
            'blocks_per_game':round(team.blocks_total/teams.games_played,1),
            'steals_per_game':round(team.steals_total/teams.games_played,1),
            'turnovers_per_game':round(team.turnovers_total/teams.games_played,1),
            'personal_fouls_per_game':round(team.personal_fouls_total/teams.games_played,1),
            'free_throws_made_per_game':round(team.free_throws_made/teams.games_played,1),
            'free_throws_attempted_per_game':round(team.free_throws_attempted/teams.games_played,1),
            'team_free_throw_percentage':round((team.free_throws_made/teams.free_throws_made)*100,1),
            'field_goals_made_per_game':round(team.field_goals_made/teams.games_played,1),
            'field_goals_attempted_per_game':round(team.field_goals_attempted/teams.games_played,1),
            'team_field_goal_percentage':round((team.field_goal_made/teams.field_goals_attempted)*100,1),
            'three_point_made_per_game':round(team.three_point_made/teams.games_played,1),
            'three_point_attempted_per_game':round(team.three_point_attempted/teams.games_played,1),
            'team_three_point_percentage':round((team.three_point_made/teams.three_point_attempted)*100,1),
            'games_played':teams.games_played,"players":team_players (PLAYERS IS AN ARRAY OF LISTS SO USE FOR LOOP)
        -->
        <style>
            .hide{
                display: none;
            }
            a:hover.img_hover {
                color: transparent;
            }
        </style>
        <head>
         <script type="text/javascript">
            function ranking(i){
                if(i == 1){
                    document.write(i+"st");
                }else if(i ==2){
                    document.write(i+"nd");
                }else if(i == 3){
                    document.write(i+"rd");
                }else{
                    document.write(i+"th");
                }
            }
        
        </script>
        </head>
        <div class="container bg-light">
            <div class="container-fluid bg-light p-3">
                <div class="row">
                    <div class="card col-3 bg-light border-0">
                        <!-- PLACEHOLDER IMAGE-->
                        <img class="card-img-top " src="{% static team_image %}" alt="PLACEHOLDER">
                    </div>
                    <div class="col-6">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="card col-12 border-0 bg-light">
                                    <br/>
                                    <br/>
                                    <br/>
                                    <h2 class="mb-5 display-5">
                                        <span style="font-weight: bold; font-size:55px;">{{team_name}}</span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
               
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align: center;">Conf Rank:</th>
                                <th scope="col" style="text-align: center;">Conf:</th>
                                <th scope="col" style="text-align: center;">Div:</th>
                                <th scope="col" style="text-align: center;">W</th> 
                                <th scope="col" style="text-align: center;">L</th>
                            </tr>
                     </thead>
                        <tbody>
                            <tr>
                                <td id="ranker" style="text-align: center;"> 
                                    <script type="text/javascript">ranking({{conference_rank}});</script>
                                </td>
                                <td style="text-align: center;">{{conference}}</td>
                                <td style="text-align: center;">{{division}}</td>
                                <td style="text-align: center;">{{team_wins}}</td>                            
                                <td style="text-align: center;">{{team_losses}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="table-responsive container">
            <h4>2019-2020 Season Team Stats</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th data-toggle='tooltip' title="Points Per Game" scope="col" style="text-align: center;">PPG</th>
                        <th data-toggle='tooltip' title="Team Field Goal" scope="col" style="text-align: center;">FG</th>
                        <th data-toggle='tooltip' title="Team 3PT" scope="col" style="text-align: center;">3PT</th>
                        <th data-toggle='tooltip' title="Team FT" scope="col" style="text-align: center;">FT</th>
                        <th data-toggle='tooltip' title="Assists Per Game" scope="col" style="text-align: center;">APG</th>
                        <th data-toggle='tooltip' title="Rebounds Per Game" scope="col" style="text-align: center;">RPG</th>
                        <th data-toggle='tooltip' title="Blocks Per Game" scope="col" style="text-align: center;">BPG</th>
                        <th data-toggle='tooltip' title="Steals Per Game" scope="col" style="text-align: center;">SPG</th>
                        <th data-toggle='tooltip' title="Turnovers Per Game" scope="col" style="text-align: center;">TOPG</th>
                        <th data-toggle='tooltip' title="Personal Fouls Per Game" scope="col" style="text-align: center;">PFPG</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col" style="text-align: center;">{{points_per_game}}</td>
                        <td scope="col" style="text-align: center;">{{field_goals_made_per_game}}-{{field_goals_attempted_per_game}}</td>
                        <td scope="col" style="text-align: center;">{{three_point_made_per_game}}-{{three_point_attempted_per_game}}</td>
                        <td scope="col" style="text-align: center;">{{free_throws_made_per_game}}-{{free_throws_attempted_per_game}}</td>
                        <td scope="col" style="text-align: center;">{{assists_per_game}}</td>
                        <td scope="col" style="text-align: center;">{{rebounds_per_game}}</td>
                        <td scope="col" style="text-align: center;">{{blocks_per_game}}</td>
                        <td scope="col" style="text-align: center;">{{steals_per_game}}</td>
                        <td scope="col" style="text-align: center;">{{turnovers_per_game}}</td>
                        <td scope="col" style="text-align: center;">{{personal_fouls_per_game}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive container">
            <br/><br/>
            
            <h3>Current Roster</h3>
            <table class="table table-striped table-light">
                <thead style="font-size: 16px;">
                    <tr>
                        <th scope="col">Player</th>
                        <th scope="col">Min</th>
                        <th scope="col">FG%</th>
                        <th scope="col">3PT%</th>
                        <th scope="col">FT%</th>
                        <th scope="col">OREB</th>
                        <th scope="col">DREB</th>
                        <th scope="col">REB</th>
                        <th scope="col">AST</th>
                        <th scope="col">STL</th>
                        <th scope="col">BLK</th>
                        <th scope="col">PF</th>
                        <th scope="col">TO</th>
                        <th scope="col">PTS</th>
                    </tr>
                </thead>
                <tbody style="font-size: 16px;">
                    {% for p in players %}
                    <tr>
                        <td> <a href='/basketball/player/{{ p.1 }}'> <b>{{p.0}}</b> </a> </td>
                        <td>{{p.11}}</td>
                        <td>{{p.25}}</td>
                        <td>{{p.22}}</td>
                        <td>{{p.19}}</td>
                        <td>{{p.4}}</td> 
                        <td>{{p.5}}</td>
                        <td>{{p.6}}</td>
                        <td>{{p.3}}</td>
                        <td>{{p.8}}</td>
                        <td>{{p.7}}</td>
                        <td>{{p.10}}</td>
                        <td>{{p.9}}</td>
                        <td>{{p.2}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    <!--
            this_game_log = [
                0team_stats[team_index]['FG_made'],1team_stats[team_index]['FG_attempted'],
                2team_stats[team_index]['3P_made'],3team_stats[team_index]['3P_attempted'],
                4team_stats[team_index]['FT_made'],5team_stats[0]['FT_attempted'],
                6team_stats[team_index]['off_rebounds'],7team_stats[team_index]['def_rebounds'],
                8team_stats[team_index]['off_rebounds']+team_stats[0]['def_rebounds'],
                9team_stats[team_index]['assists'],10team_stats[team_index]['steals'],
                11team_stats[team_index]['blocks'],12team_stats[team_index]['turnovers'],
                13team_stats[team_index]['personal_fouls'],14team_stats[team_index]['points'],
                15game.date.month,16game.date.day,
                17opponent_image,
                18opponent_team_id
                19vsOr@,
                20opp_abv,
                21WorL,
                22winner_score,
                23loser_score,
                24game_id
            ]
    -->

      <!--Game Log Team Stats-->
    <div class="container">
        <h3> 2019-2020 Game Log </h3>
    </div>
    <div class="table-responsive container" style="height:700px; overflow:scroll;">
        <table class="table table-striped table-light" >
            <thead style="font-size:15px">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Opp</th>
                    <th scope="col">Result</th>
                    <th scope="col">FG</th>
                    <th scope="col">3PT</th>
                    <th scope="col">FT</th>
                    <th scope="col">OREB</th>
                    <th scope="col">DREB</th>
                    <th scope="col">REB</th>
                    <th scope="col">AST</th>
                    <th scope="col">STL</th>
                    <th scope="col">BLK</th>
                    <th scope="col">PF</th>
                    <th scope="col">TO</th>
                    <th scope="col">PTS</th>
                </tr>
            </thead>
            <tbody style="font-size:14px">
                {% for game in game_log %}
                    <tr>
                        <td> <b>{{game.15}}/{{game.16}}</b> </td>
                        <td> 
                            {{game.19}}
                            <a class="img_hover" href='/basketball/team/{{ game.18 }}'>
                                <img style="max-height:35px;max-width:35px;" src={% static game.17 %} </img>
                            </a> 
                            <a href='/basketball/team/{{ game.18 }}'>{{game.20}}</a>
                        </td>
                        <td> 
                            {% if game.21 == 'W' %}
                                <b style="color:green;">{{game.21}}</b>
                                <a href='/basketball/game/{{game.24}}'> {{game.22}}-{{game.23}} </a>
                            {% else %}
                                <b style="color:red;">{{game.21}}</b> 
                                <a href='/basketball/game/{{game.24}}'>{{game.22}}-{{game.23}}</a>
                            {% endif %}
                        </td>
                        <td>{{game.0}}-{{game.1}}</td>
                        <td>{{game.2}}-{{game.3}}</td>
                        <td>{{game.4}}-{{game.5}}</td>
                        <td>{{game.6}}</td>
                        <td>{{game.7}}</td>
                        <td>{{game.8}}</td>
                        <td>{{game.9}}</td>
                        <td>{{game.10}}</td>
                        <td>{{game.11}}</td>
                        <td>{{game.13}}</td>
                        <td>{{game.12}}</td>
                        <td>{{game.14}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!--Game log Player Stats-->


    <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <br/>
    <br/>
    <br/>
    <br/>

    {% endblock %}