{% extends 'base.html' %}
    {% load static %}
    {% block content %}
        <script>
            if ((typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1)) {
                location.href = "/basketball/teams_mobile";
            }
        </script>

        <style>
            a {
                color:black;
            }

            a:hover.img_hover {
                color: transparent;
            }
        </style>

        <div class="container">
            <br/>
            <h2>NBA Teams</h2>
            <br/>
            <div class="row">
                 <div class="col" >
                    <!-- Atlantic-->
                    <h4> Atlantic </h4>
                    <ul style="list-style-type:none; margin-left: 15px; padding:0px;">
                        {% for team in Atlantic %}
                            <li>
                                <div class="row">
                                    <a class="img_hover" href="/basketball/team/{{team.0}}"> <img class="card-img" style="max-height:40px;max-width:40px;" src="{% static team.3 %}" alt="Card image cap"></img> </a>
                                    <a style="font-size:16px" href="/basketball/team/{{team.0}}"> {{team.1}} </a>
                                </div>  
                            </li>
                            <hr style="color:black; border-width: 2px;"></hr>
                        {% endfor %}   
                    </ul>
                    <br/>
                    <h4> Central </h4>
                    <ul style="list-style-type:none; margin-left: 15px; padding:0px;">
                        {% for team in Central %}
                            <li>
                                <div class="row">
                                    <a class="img_hover" href="/basketball/team/{{team.0}}"> <img class="card-img" style="max-height:40px;max-width:40px;" src="{% static team.3 %}" alt="Card image cap"></img> </a>
                                    <a style="font-size:16px" href="/basketball/team/{{team.0}}"> {{team.1}} </a>
                                </div> 
                            </li> 
                            <hr style="color:black; border-width: 2px;"></hr>
                        {% endfor %}   
                    </ul>
                    <br/>
                    <h4> Northwest </h4>
                    <ul style="list-style-type:none; margin-left: 15px; padding:0px;">
                        {% for team in Northwest %}
                            <li>
                                <div class="row">
                                    <a class="img_hover" href="/basketball/team/{{team.0}}"><img class="card-img" style="max-height:40px;max-width:40px;" src="{% static team.3 %}" alt="Card image cap"></img> </a>
                                    <a style="font-size:16px" href="/basketball/team/{{team.0}}"> {{team.1}} </a>
                                </div>  
                            </li>
                            <hr style="color:black; border-width: 2px;"></hr>
                        {% endfor %}   
                    </ul>   
                    <br/>
                </div>
                <div class="col" >
                    <h4> Pacific</h4>
                    <ul style="list-style-type:none; margin-left: 15px; padding:0px;">
                        {% for team in Pacific %}
                            <li>
                                <div class="row">
                                    <a class="img_hover" href="/basketball/team/{{team.0}}"> <img class="card-img" style="max-height:40px;max-width:40px;" src="{% static team.3 %}" alt="Card image cap"></img> </a>
                                    <a style="font-size:16px" href="/basketball/team/{{team.0}}"> {{team.1}} </a>
                                </div> 
                            </li> 
                            <hr style="color:black; border-width: 2px;"></hr>
                        {% endfor %} 
                    </ul>
                    <br/>
                    <h4> Southeast </h4>
                    <ul style="list-style-type:none; margin-left: 15px; padding:0px;">
                        {% for team in Southeast %}
                            <li>
                                <div class="row">
                                    <a class="img_hover" href="/basketball/team/{{team.0}}"> <img class="card-img" style="max-height:40px;max-width:40px;" src="{% static team.3 %}" alt="Card image cap"></img> </a>
                                    <a style="font-size:16px" href="/basketball/team/{{team.0}}"> {{team.1}} </a>
                                </div>  
                            </li>
                            <hr style="color:black; border-width: 2px;"></hr>
                        {% endfor %} 
                    </ul>
                    <br/>
                    <h4> Southwest </h4>
                    <ul style="list-style-type:none; margin-left: 15px; padding:0px;">
                        <li>
                        {% for team in Southwest %}
                            <div class="row">
                                <a class="img_hover" href="/basketball/team/{{team.0}}"><img class="card-img" style="max-height:40px;max-width:40px;" src="{% static team.3 %}" alt="Card image cap"></img></a>
                                <a style="font-size:16px" href="/basketball/team/{{team.0}}"> {{team.1}} </a>
                            </div>  
                            <hr style="color:black; border-width: 2px;"></hr>
                        {% endfor %} 
                        </li>
                    </ul>
                    <br/>
                </div>

            </div>
        </div>

        <br/>
        <br/>
        <br/>
        <br/>

    {% endblock %}