{% extends 'base.html' %}
    {% load static %}
    {% block content %}
    <script>
        if ((typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1)) {
            location.href = "/basketball/series_vote_mobile";
        }
    </script>

    <br/>
    <style> 
        select {
            width:50%;
        }
    </style>
    <div class="container" style="font-size:22px;">
        <div class="row">
            <div class="col">
                <br/>
                <h3 style="text-align:center"> Vote for which team will win each series </h3>
                <br/>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <b style="font-size:16px;">{{field.label}}</b>
                        <br/>
                        {{field}}
                        <br/>
                        <br/>
                    {% endfor %}
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
            </div>

            <!--<div class="col" style="width: 75%;">
                <br/>
                <h2 style="text-align:center;"> <b>Current MVP Vote Leaders</b> </h2>
                <br/>
                <canvas id="pie-chart"></canvas>
            </div>-->
        </div>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script>
            var config = {
                type: 'pie',
                data: {
                    datasets: [{
                    data: {{ data|safe }},
                    backgroundColor: [
                        '#32a840', '#e6db12', '#1235e6', '#C0C0C0', '#362f34',
                        '#e61232', '#11b1f0', '#f09711', '#adf011', '#f011bc'

                    ],
                    label: 'Population'
                    }],
                    labels: {{ labels|safe }}
                },
                options: {
                    responsive: true
                }
            };

            window.onload = function() {
                var ctx = document.getElementById('pie-chart').getContext('2d');
                window.myPie = new Chart(ctx, config);
            };

        </script>
    <br/>
    <br/>
    <br/>
    {% endblock %}
