{% extends 'base.html' %}
    {% load static %}
    {% block content %}
    <br>
    <div class="container">
        <img src="/static/img/questionNBA.png" alt="MVP Voting" style=" max-height: 300px; max-width: 75%;display: block;margin-left: auto;margin-right: auto;">
    </div>
    <div class="container">
        <div> 
            <h2 style="font-weight: 350;">What is SportsSim?</h2>
            <hr style="background-color: grey; height: 2px;">
            <p style="font-weight: 300;">
                Articles | Written by: Samuel G., Justin K.
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <p style="font-size: 18px; line-height: 2.0;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SportsSim is the creation of software developers Justin K. and Samuel G.. The motivation for this project is the 
            culmination of several factors: our shared passion for sports (specifically in the NBA) and our immense disappointment when the rest of the NBA season 
            was indefinitely postponed in March 2020. 
        </p>
        <br>
        <h4> Background</h4>
        <hr style="background-color:grey; height: 2px; margin-left: 0px; width: 40%;">
        <br>
        <div>
            <figure>
                <img src="/static/img/NBASTAT.png" alt="Original Player Page" style="max-width: 40%; float: right; margin: 25px; box-shadow: 3px 3px 3px grey;" >
            </figure>
            <p style="font-size: 18px; line-height: 2.0; ">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The original idea for this project began in Fall 2019, when we created the first prototype of SportsSim for our senior capstone project. Our goal was to 
                create a website for users to view the huge dataset of player statistics in a clear and accessible way, as we felt that many current NBA stat websites don't have very 
                user-friendly interfaces. We set out to create a simple user interface that even individuals who are just jumping into the game of basketball could understand.
                This project was our first true deep dive into front end development and UI design, and as typical college students, we aimed to produce a sleek home page
                and player page template that would earn us a passing grade without further development of additional pages. After the class, we had little reason to maintain the website until...
            </p>
        </div>
        <br>
        <div>
            <p style="font-size: 18px; line-height: 2.0;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our inspiration to revitalize this project came about in late March, after the NBA season was officially postponed.
                We felt confident that we possessed the know-how needed to generate a simulation of the remaining NBA regular season. As we continued to build our model and the website, 
                we had to decide whether we should also simulate the postseason games. For the most part, regular season games are fairly consistent. 
                Playoff games are a different story, and it's infrequent that one team as a whole would underperform. Sure, some players
                have "off" games during the playoffs for various reasons, but ultimately, playoff basketball is the peak of team competition. We ultimately decided that
                we wanted to take on the challenge of simulating the 2020 NBA postseason based on a more fine-tuned version of our regular season model, and hence the birth of SportsSim.
            </p>
        </div>
        <br>
        <br>
        <div>
            <h4>The Sports Sim Model</h4>
            <hr style="height: 2px; background-color: grey; margin-left: 0px; width: 40%;">
            <br>
            <p style="font-size: 18px; line-height: 2.0;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Utilizing the <a href="https://github.com/swar/nba_api" >NBA_api</a> project as our underlying database, we gathered player, team and 
                matchup data from the last two seasons. 
                Based on machine learning principles, our model predicts the outcome of each game based on multiple factors. An example of these factors include the two teams' previous matchups and both of their 
                relative performance across the season compared to their previous season's performance (with a heavier emphasis on this season).  To be clear, we don't think that this model is perfect. 
                We will be the first to acknowledge that there is a lot more going on on the court than what we can tell purely from statistics, and therefore believe that it is irresponsible
                to weigh a player based solely on their raw statistical output. Given our two-person development team, it was difficult to make an adaptive model that would
                truly reflect what goes on on the basketball court. Our compromise was to create a model that balances theoretical calculations with some human bias to better reflect these nuances.
                <br>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As an example of our incorporated biases, we felt that there needed to be a distinguishing factor between a stat line producer like Russell Westbrook
                and an on-court force like Giannis Antetokounmpo, so we assigned weights to both individual players and overall teams. We understand that some fans may not agree
                with our personal biases, so we kindly invite you to create your own model! When we set out to implement these biases into the model, we wanted them to be as fair and accurate as possible,
                and therefore determined the weights based on player/team statistics. Another illustrative example of our weighted bias coming into play in the model is in the case of Stephen Curry, who was injured
                for most of the regular season. As he was only able to play 5 games before the season was indefinitely halted, his shooting percentage statistics were fairly low based on such a small
                sample size. We didn't view these stats as accurately indicative of Curry's explosive shooting capabilites, so we adjusted Curry's bias to take his previous season shooting abilities into account.
                </p>
        </div>
        <br>
        <br>
        <div>
            <h4>Playoffs</h4>
            <figure>
                <img src="/static/img/playoffs_page.png" alt="Playoff Bracket" style="max-width: 48%; float: right; margin: 25px;" >
            </figure>
            <hr style="height: 2px; background-color: grey; margin-left: 0px; width: 40%;">
            <p style="font-size: 18px; line-height: 2.0;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;On March 11th the National Basketball Association decided to indefinitely postpone the remainder of the 2019-2020 season. This means that all games from 
                March 11th to April 15th(the last scheduled regular season games) were not played. Using our model, we simulated all games within this period. If you want a recap of 
                which teams made the postseason and how they performed in the simulated final stretch of the season, click <a href="{% url 'playoffs' %}">here</a>. We have released all data from the games in 
                that time period, which are accessible across several different pages. If you wish to see a traditional game page, you can search for the game date and click on the scores to get a 
                game summary. If you wish to see how a specific player performed in the simulations, you can go to their player page. A player's page can be found on either their respective team's page, or
                in a game page where their team played. The player page displays the player's primary stats across the season, including a table with all games in which they played during the season.
                <br>
                <br> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;While we decided to release the regular season results in their entirety, we have decided that in order to keep the hype alive for the playoff games, we will be releasing games on a daily basis. 
                The first official start day for our playoff schedule will be Wednesday, May 13th. For the first round of the playoffs, every playoff series will have one game played per day. In other words, if a 
                series only ends up lasting 4 games, that series will be over by the 17th. All games will be released by May 20th at the latest, but may end sooner if no series goes to seven games. In the second
                round of playoffs,
                we will change the schedule to alternate between the East and the West conferences. Therefore, on the first day of the second round of playoffs we will release a game from both series in the East. On the
                following day, we will release a game from both series in the West. Once the Conferenece finals are closer, we will provide more details about our planned schedule for them, but now
                expect them to start 1-2 days after the conference semi-finals conclude. 
                <br>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Be sure to stay updated on how the playoffs are going. Click 
                <a href="{% url 'playoffs_page' %}">here</a> to check out the playoffs page, which will have up-to-date information about all the playoff series. If you're interested in seeing the
                matchup history between two teams check out the game page, and check the date of the game to get a preview of how the two teams have matched up against one another. Click here to see how 
                the <a href="http://sportsim.live/basketball/game/1">Lakers matchup against Pelicans</a>, who will be facing off in the first round.
               </p>
         </div>
         <br>
         <br>
         <div>
             <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thanks for reading! We hope you enjoy your stay and be sure to check back everyday to see how the playoffs are going.
                If you enjoy the content and want to support a couple of unemployed college grads, please feel free to buy us a cup of coffee. 
                Thank you!
             </p>
         </div>
    </div>
    {% endblock %}