{% extends 'base.html' %}
    {% load widget_tweaks %}
    {% load static %}
    {% block content %}
    <br>

    <div class="container">
        <img src="/static/img/playoffs_white.png" alt="playoffs teams highlights" style="margin-right: auto; margin-left: 5vw; max-height: 500px; max-width: 75%;">
    </div>
    <div class="container">
        <div> 
            <h2 style="font-weight: 350;">Catching up with the the Playoff Teams</h2>
            <hr style="background-color: grey; height: 2px;">
            <p style="font-weight: 300;">
                Articles | Written by: Samuel Gibson, Justin Kelly
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <br>
        <img src="/static/img/milwaukee-bucks.png" style="max-width: 10%;">
        <h4 style="font-weight: 300;">Milwaukee Bucks (68-14)</h4>
        <hr style="background-color: grey; height: 1px; width:25%; margin-left: 0px;">
        <p style="font-size: 18px;">
            &nbsp;&nbsp;&nbsp;Milwaukee finishing at the number 1 seed of the East is a surpise to no one. Across all of the iterations of our 
            model of the regular season, the Bucks always showed complete dominance. Giannis Antetokounmpo finishes the season with the lowest minutes 
            played per game of any MVP candidate ever with a 30.2 average. A full two minute average less than last year, when he won the award and had 
            set the lowest minutes average for any MVP winner. The Bucks are easily one of the top candidates to make it through the playoffs and win 
            their franchises' second O'Brien Trophy.
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;In our simulation of the rest of the regular season, the Bucks ended the season on a strong note. They tallied only two losses after the
            break in the regular season on March 11th. Their losses were to two streaky shooting teams, the Mavericks, and the Hawks. Heading into the postseason,
            the Bucks end the regular season with a <b>21-5</b> record against all other teams in the East who made it to the postseason. Their first 
            series in the 2020 postseason will be held against the <b>(36-46) Orlando Magic</b>.
            
        </p>
        <br>
        <br>
        <img src="/static/img/los-angeles-lakers.png" style="max-width: 10%;">
        <h4 style="font-weight: 300;">Los Angeles Lakers (63-19)</h4>
        <hr style="background-color: grey; height: 1px; width:25%; margin-left: 0px;">
        <p style="font-size: 18px;">
            &nbsp;&nbsp;&nbsp;The 2019-2020 Lakers record the best regular season showing in franchise history. Believe it or not, having another superstar 
            player on the court with LeBron James results in a playoff berth. LeBron transitioned easily into his new point guard position fairly well, leading
            the league in assists for the first time in his career, with 10.5 per game. In his first year after clipping his wings, Anthony Davis is 
            finally displaying his talent ending the season with 27 points per game and averaging nearly 10 rebounds per game.
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;The Lakers ended the season strong, only dropping games to their roommates, the Clippers, the Jazz, a single point loss to the Pacers, 
            and the Nuggets. The Lakers are an obvious favorite to make it out of the West. With playoff Lebron's first appearance in a yellow jersey, they are 
            practically guaranteed to make it to the finals especially with small ball being a "viable" strategy. The Lakers' major competition in the West comes 
            in the form of the L.A. Clippers, who won three of their four regular season matchups. The Lakers will play their first playoff series against Davis'
            old team, the <b>(40-42) New Orlean Pelicans</b> led by titans like Lonzo Ball.
        </p>
        <br>
        <br>
        <img src="/static/img/los-angeles-clippers.png" style="max-width: 10%;">
        <h4 style="font-weight: 300;">Los Angeles Clippers (58-24)</h4>
        <hr style="background-color: grey; height: 1px; width:25%; margin-left: 0px;">
        <p style="font-size: 18px;">
            &nbsp;&nbsp;&nbsp;Despite sharing an area code with the most publicized team in the league, the Clippers carved a piece of the Staples center 
            out for themselves finishing 2nd in the West. Due to the lack of back to backs in the Clippers schedule going into the final weeks of the season,
            they were able to finish strong. Despite worries about Kawhi Leonard's injuries and regular season strategy, he ends the season averaging 26 points.
            Though the Clippers had some meshing issues at the beginning of the season, it seems like the team has locked themselves in and are prepping for a
            postseason run.
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;Going into the postseason, the Clippers are a strong contender to make it out of the West due to their depth and number of scoring threats. They 
            ended the season with the 3rd highest PPG behind the Rockets and of course the Bucks. They are searching for the franchise's first championship and
            considering how Kawhi seems to be handing them out to Canadian teams, there's a good chance that this one could end back in Los Angeles and for once,
            not in the hands of the Lakers. Will playoff P show again or will it be more uncle P, stay tuned to find out.
            The Clippers will play the hot 7th seed <b>(49-33) Dallas Mavericks</b>, led by Euro stars Dončić and Porzingis. 
        </p>
        <br>
        <br>
        <img src="/static/img/toronto-raptors.png" style="max-width: 10%;">
        <h4 style="font-weight: 300;">Toronto Raptors (54-28)</h4>
        <hr style="background-color: grey; height: 1px; width:25%; margin-left: 0px;">
        <p style="font-size: 18px;">
            &nbsp;&nbsp;&nbsp;Few would've predicted that the Raptors would end up in the exact same Eastern Conference position as last year, but
            with Lebron in the West here they are again. The Raptors, led by Pascal Siakam and behinded by Kyle Lowry, continue to be a powerhouse in the 
            East despite losing Kawhi Leonard in the offseason. The 2019 champion incumbents had a rough end to the regular season, dropping ten of their last 
            eighteen games, but are still ready to show that they are ready to think outside of the box and one.
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;The Raptors have always been a strong postseason team and this year is looking to be no different. Despite the East's newfound strength in
            teams like the Heat, and the new Celtics roster, the Raptors have shown that just because they lost Kawhi, doesn't mean you can write them off. The Raptors 
            will be facing off against the injured 7th seed <b>(38-44) Brooklyn Nets</b>, led by Spencer Dinwiddie.
        </p>
        <br>
        <br>
        <img src="/static/img/boston-celtics.png" style="max-width:10%">
        <h4 style="font-weight: 300;">Boston Celtics (53-29)</h4>
        <hr style="background-color: grey; height: 1px; width:25%; margin-left: 0px;">
        <p style="font-size: 18px;">
            &nbsp;&nbsp;&nbsp;Despite being the third seed in the East, the Celtics are a solid team with a well rounded and definitely not flat starting lineup. The 
            Celtics were able to hold onto their third seed position, despite losing twice to the Heat late in the season. The current iteration 
            of the Celtics are led by Jayson Tatum and Kemba Walker, averaging 23.4 and 21.4 points respectively. Unfortunately, our model was unable to find minutes
            worthy of the Celtics' real star, Tacko Fall. 
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;With Kemba finally out from under the wing of Michael Jordan, he and the Celtics are looking for a deep playoff run. Last year,
            their run was cut short by the Giannis-led Milwaukee Bucks. This year, they are on the opposite side of the bracket from the Bucks. In the first round,
            they will be facing off against the 6th seed <b>(49-33) Indiana Pacers</b>.
        </p>
        <br>
        <br>
        <img src="/static/img/denver-nuggets.png" style="max-width: 10%;">
        <h4 style="font-weight: 300;">Denver Nuggets (53-29)</h4>
        <hr style="background-color: grey; height: 1px; width:25%; margin-left: 0px;">
        <p style="font-size: 18px;">
            &nbsp;&nbsp;&nbsp;Studies have shown that high altitude training facilites produce the best conditioning results for athletes, due to lack of oxygen rich air.
            In this case, Nikola Jokic continues to be an anomaly. Jokes aside, the Nuggets are the biggest dark horse of the 2020 playoffs. They were able to overtake the
            Rockets in the West ranks, despite having the same overall record, due to having more conference wins. The Nuggets are a threat for any team in the postseason.
            According to our model, they are one of the best defensive teams in the league, allowing the third fewest points per game. Jokic leads the team in points with 20
            points and 10 rebound per game. Jamal Murray is another major factor in the team's scoring with 19.2 points per game.
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;Following last year's early playoff exit at the hands of the Lillard-led Blazers, the Nuggets are out for blood this year. Their versatility
            on both the offensive and defensive ends makes them a team to watch out for this year. The Nuggets will play their first series of the 2020 NBA playoffs against
            the <b>(50-32) Utah Jazz</b>.
        </p>
        <br>
        <br>
        <img src="/static/img/miami-heat.png" style="max-width: 10%;">
        <h4 style="font-weight: 300;">Miami Heat (52-30)</h4>
        <hr style="background-color: grey; height: 1px; width:25%; margin-left: 0px;">
        <p style="font-size: 18px">
            &nbsp;&nbsp;&nbsp;Jimmy Butler and the Heat may sound like a 1950's lounge music band, but they are a real competitor in the Eastern Conference
            playoffs. For a squad with so much youth, the team has multiple experienced playoff veterans in Andre Iguodala and Jimmy Butler. It would've been hard 
            to predict a team like the Heat doing so well this season. However, it seems with Jimmy Butler becoming a father, he's decided to finally settle down
            and help be a constructive father figure to much of the young talent on the team. Jimmy Butler is averaging 20 points, 6 assists, and 6 rebounds per game.
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;With the last minute trade inclusion of Andre Iguodala, the Heat seem to be positioning themselves to go all the way this year. They
            are one of the few teams in the league to have a positive record against the Bucks. The Heat have a combined record against teams in the East still in 
            the playoffs of <b>18-6</b>. Out of the remaining eight teams in the Eastern conference, the Heat were .500 or better against all eight during the regular season. 
            The Heat will kick off their 2020 NBA playoffs run against Jimmy Butler's former team, the <b>(50-32) Philadelphia 76ers</b>.
        </p>
        <br>
        <br>
        <img src="/static/img/philadelphia-76ers.png" style="max-width: 10%;">
        <h4 style="font-weight: 300;">Philadelphia 76ers (50-32)</h4>
        <hr style="background-color: grey; height: 1px; width:25%; margin-left: 0px;">
        <p style="font-size: 18px">
            &nbsp;&nbsp;&nbsp;The 76ers have been pegged by the media as a dysfunctional team with All-Stars that don't mesh well. There have been rumors about the 
            team's poor chemistry and lack of leaders in the locker room. Many argue that the team's stars just dont want it enough. The team seems to have all of 
            the necessary pieces to put together to be a championship contender, but have yet to hit that mark. Joel Embid leads the team with 23.6 points and 11.6 rebounds
            per game, followed by Tobias Harris with 19.6 points per game, then first overall draft pick and behind the arc sharpshooter Ben Simmon with 17.0 points per game.
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;Despite the criticisms surrounding the team, they are a powerhouse when they play at home. Out of their 40 home games this season, they 
            only dropped 5 of those games. Even then, the teams who defeated the 76ers at home are powerhouses in their own right: the Milwaukee Bucks, the Miami Heat, 
            the Houston Rockets, the Indiana Pacers and of course, the Charlotte Hornets. The 76ers are set to play their first series against the 
            <b>(52-30) Miami Heat</b>.
        </p>
        <br>
        <br>
        <img src="/static/img/houston-rockets.png" style="max-width: 10%;">
        <h4 style="font-weight: 300;">Houston Rockets (53-29)</h4>
        <hr style="background-color: grey; height: 1px; width:25%; margin-left: 0px;">
        <p style="font-size: 18px">
            &nbsp;&nbsp;&nbsp;After being eliminated by the Warriors for the last <b>5 years</b>, this season seemed like the perfect opportunity for the brilliantly
            coached D'Antoni team to finally make the championship run they've been eager for. However, following the trade shuffle in last year's offseason 
            which netted them Russell Westbrook, many thought that combining two MVPs on one team would finally give the Rockets the push that they needed. Unfortunately,
            they struggled in the middle of the regular season, and issued more trades. To many, it seems that the Rockets are doubling down on mastermind D'Antoni's
            plan: shoot the three. Despite the performance of the rest of the team, the two MVPs of the Rockets are performing well. James Harden still leads the league in
            scoring with 34.7 points. Westbrook is no longer averaging a triple double, but he is still performing well with 27.7 points, 8.3 assists, and 6.6 rebounds 
            per game.
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;In our model, the Rockets really seemed to pull themselves together in the final stretch of the regular season, going <b>(13-5)</b> after March 11th.
            In this time they lost to league juggernauts, the Bucks, the Lakers, and of course the Warriors. The team has traditionally performed well in the playoffs, and without
            the roadblock that has prevented them the last <b>5 years</b>, the Rockets' small ball strategy may take them all the way this year. In the first round, they will
            face off against the Chris Paul-led 5th seed <b>(52-30) Oklahoma City Thunder</b>.
        </p>
        <br>
        <br>
        <img src="/static/img/oklahoma-city-thunder.png" style="max-width: 10%;">
        <h4 style="font-weight: 300;">Oklahoma City Thunder (52-30)</h4>
        <hr style="background-color: grey; height: 1px; width:25%; margin-left: 0px;">
        <p style="font-size: 18px">
            &nbsp;&nbsp;&nbsp;After losing two of their All-Star players in last year's post season, and picking up Chris Paul's max contract, many assumed that the 
            Thunder would tank and try to rebuild with their new allotment of draft picks. However, the team has seemed stronger than any of their past years. Chris
            Paul has stepped up into the veteran position, and along with much improved players Shai Gilgeous-Alexander, Dennis Schroder and Danilo Gallinari, the team is 
            looking strong.
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;The Thunder are a fairly unpredictable team going into this postseason. Before the delay of the season, they could take a game off of
            championship level teams, and that continued to show through with our model. Knowing how Chris Paul treats his past teams, don't be surprised if he storms
            the Rockets locker room after the game. The Thunder are .500 or above against all teams in the Western Conference playoffs, other than the 1st seed Lakers.
            The Thunder are set to play the 4th seed <b>(53-29) Houston Rockets</b> in the first round.
        </p>
        <br>
        <br>
        <img src="/static/img/utah-jazz.png" style="max-width: 10%;">
        <h4 style="font-weight: 300;">Utah Jazz (50-32)</h4>
        <hr style="background-color: grey; height: 1px; width:25%; margin-left: 0px;">
        <p style="font-size: 18px">
            &nbsp;&nbsp;&nbsp;The Jazz are in a similar position to the Thunder, they have taken games off of league favorites, and then they turn around and lose
            to teams like the Cavaliers and the Suns. The team seems to be struggling to find their identity as a team. They have great components, like up and coming
            guard Donovan Mitchell with 24.9 points per game, and Bojan Bogdanovic with 20.8 points per game. Along with a good supporting cast, such as Rudy Gobert, who when 
            he's not spreading germs, is leading the league in rebounds.
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;In our model, the Jazz's shooting was extremely streaky, which favored them against the Lakers, where they won two games against the 
            Western favorite in a row. However, they also dropped several games to teams well below .500. They will have to tighten up if they hope to make a playoff run
            and prevent getting self-J'Ingled. The Jazz will start off their 2020 NBA postseason against the 3rd seed <b>(53-29) Denver Nuggets</b>.
        </p>
        <br>
        <br>
        <img src="/static/img/indiana-pacers.png" style="max-width: 10%;">
        <h4 style="font-weight: 300;">Indiana Pacers (49-33)</h4>
        <hr style="background-color: grey; height: 1px; width:25%; margin-left: 0px;">
        <p style="font-size: 18px">
            &nbsp;&nbsp;&nbsp;With the return of Victor Oladipo, the Pacers are packed with shooting threats. Despite none of their players averaging more than 20 points per
            game they are among the most accurate field goal teams in the league. T.J. Warren continues to be a consistent offensive threat scoring 19.1 points per game. In 
            addition to Victor Oladipo, the Pacers also add up-and-comer Domantas Sabonis with 18.6 points per game.
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;The Pacers haven't made it out of the first round of the playoffs since the 2013-2014 season. They will face off against the
             <b>(53-19) Boston Celtics</b> in the first round. The Celtics elminated them last year in the first round in a quick sweep. 
        </p>
        <br>
        <br>
        <img src="/static/img/dallas-mavericks.png" style="max-width: 10%;">
        <h4 style="font-weight: 300;">Dallas Mavericks (49-33)</h4>
        <hr style="background-color: grey; height: 1px; width:25%; margin-left: 0px;">
        <p style="font-size: 18px">
            &nbsp;&nbsp;&nbsp;In the Dallas Mavericks' first playoff berth since the 2015-2016 season, the organization has built a solid team around their rookie of the
            year, Luka Dončić. Luka has only improved since his rookie year, averaging nearly a 30 point triple double season, with a 29.7 point, 9.2 rebound, and 8.8 
            assist stat line. The Mavericks were also able to make big trades to get the best player the Knicks have had in 10+ years, for Dennis Smith Jr. and an aging 
            De'Andre Jordan. Kristaps Porzingis, who is averaging 19.8 points and 9.2 rebounds per game, is a major addition to the team's offense.
            The Mavs were also able to fleece Tim Hardaway Jr. from the unsuspecting Knicks, promising them that they would get the better end of the Jr. deal.
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;Despite the team's 7th seed ranking, the Mavs are a solid team, who are capable of making a playoff run. Luka and Porzingis have yet to show off their
            postseason capabilities. They have the pieces to be a great team, with a great perimeter shooter, a full superstar guard, and a center who can shoot. Whether or not the 
            team can execute as a cohesive unit will probably be a precursor of what is to come in the next years. The team struggles against the 
            the top teams in the West, and are probably a year or two away from having a genuine finals caliber team. They will face off against the <b>(58-24) L.A. Clippers</b>, who 
            have not lost to the Mavs this season.
        </p>
        <br>
        <br>
        <img src="/static/img/brooklyn-nets.png" style="max-width: 10%;">
        <h4 style="font-weight: 300;">Brooklyn Nets (38-44)</h4>
        <hr style="background-color: grey; height: 1px; width:25%; margin-left: 0px;">
        <p style="font-size: 18px">
            &nbsp;&nbsp;&nbsp;How the Brooklyn Nets made it to the postseason, we aren't exactly sure. Really the only thing going for them is their shooting ... wait no,
            they are shooting as a team under 40%. It must be the superstars that they acquired in the postseason! Kevin Durant and Kyrie Irving! The two superstars are averaging ... 
            wait they're both injured? Yikes. Through sheer force of will, superstar Spencer Dinwiddie has carried this team into the postseason with a 21.2 point and 6.8 assist per
            game stat line.
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;The Brooklyn Nets have managed to sneak some games off of finals caliber teams such as the Lakers, Clippers, Raptors, and Celtics. However,
            with Kyrie out for the remainder of the season with a hurt shoulder, and Durant out with a hurt ego, the Nets will struggle this postseason cycle. They will be playing 
            the 2nd seed <b>(54-28) Toronto Raptors</b> in the first round.
        </p>
        <br>
        <br>
        <img src="/static/img/new-orleans-pelicans.png" style="max-width: 10%;">
        <h4 style="font-weight: 300;">New Orleans Pelicans (40-42)</h4>
        <hr style="background-color: grey; height: 1px; width:25%; margin-left: 0px;">
        <p style="font-size: 18px">
            &nbsp;&nbsp;&nbsp;In a late season push, the Pelicans were able to secure a playoff berth, despite losing to the Spurs three times in their final 14 games.
            Fueled by their new superstar's increase in minutes, the Pelicans were able to overtake the Memphis Grizzlies. The cast of the Pelicans is almost exclusively 
            new this year. In the 2019 offseason they acquired Lonzo Ball, Brandon Ingram, J.J. Redick, Josh Hart, and of course Zion Williams. Zion is averaging 23.1 points and 6.6 rebounds
            per game. Brandon Ingram has also grown into his own this year, averaging 24.2 points with good shooting splits. 
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;In our model, the Pelicans have been performing very well and we expect Zion's first playoff experience to be explosive, alongside the 
            fact that teammates Brandon Ingram and Big Baller Brand himself Lonzo are ready to face off against their old org. The Pelicans will play their first series 
            against the <b>(63-19) L.A. Lakers</b>. 
        </p>

        <h5 style=" margin-top: 100px">Thanks for Reading</h5>
        <hr style="background-color: grey; height: 1px; width:25%; margin-left: 0px;">
        <p style="font-size: 18px;margin-bottom: 100px;">
            &nbsp;&nbsp;&nbsp;Thanks for reading up on where all the playoff teams ended their season. Keep checking back every day to see how the playoffs are going, and 
            dont forget to vote on who you think will win each series! 
        </p>

    </div>
    {% endblock %}