{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <!-- for charts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <title>Sports Simulator</title>

    <style>
        a:hover {
            color: blue;
        }

        .Site {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        .Site-content {
            flex: 1;
        }
        .cards{
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            margin-top: 15px;
            padding: 1.5%;

        }
        .card{
            position: relative;
            margin: 20px;
            max-width: auto;
        }
    </style>
  </head>
  <body class="Site">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">NBA Simulator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'games_home' %}">Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teams_home' %}">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'standings_page'%}">Standings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'playoffs_page' %}">Playoffs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mvp_vote' %}">Vote For MVP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'series_vote' %}">Vote For Series Matchups</a>
                </li>
            </ul>
            <button type="button" class="btn btn-primary btn-sm"><a style="color:white;" href="https://www.buymeacoffee.com/nbasimulator">Buy Us a Coffee</a></button>
        </div>
    </nav>
    <div class="Site-content">
    <!--for reusing the base.html in other html files-->
    {% block content %}
    <br>
    <div class="container">
        <!-- <img src="/static/img/logo/logo.png" alt="sports_sim Logo" class="center">-->
        <h4 style="text-align: center;"> Today's Highlights</h4>
        <hr style="background-color: grey; height: 1px;">
            <div class="cards">
                <div class="row">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <img class="card-img-top" src="{% static games.game1.3 %}" alt="team1" style="max-width: 200px;">
                                </div>
                                
                                <div class="col">
                                    <img class="card-img-top" src="{% static games.game1.4 %}" alt="team2"style="max-width: 200px;">
                                </div>
                            </div>
                            <div class="card-title text-center">
                                <h3>{{games.game1.1}} @ {{games.game1.2}}</h3>
                                <h5> {{games.game1.5}} - {{games.game1.6}} </h5>
                            </div>
                            
                        </div>
                        <div class="card-body text-center">
                            <a href="/basketball/game/{{games.game1.0}}">Game Summary</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <img class="card-img-top" src="{% static games.game2.3 %}" alt="team1" style="max-width: 200px;">
                                </div>
                                
                                <div class="col">
                                    <img class="card-img-top" src="{% static games.game2.4 %}" alt="team2" style="max-width: 200px;">
                                </div>
                            </div>
                            <div class="card-title text-center">
                                <h3>{{games.game2.1}} @ {{games.game2.2}}</h3>
                                <h5> {{games.game2.5}} - {{games.game2.6}} </h5>
                            </div>
                            
                        </div>
                        <div class="card-body text-center">
                            <a href="/basketball/game/{{games.game2.0}}">Game Summary</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <img class="card-img-top" src="{% static games.game3.3 %}" alt="team1" style="max-width: 200px;">
                                </div>
                                
                                <div class="col">
                                    <img class="card-img-top" src="{% static games.game3.4 %}" alt="team2" style="max-width: 200px;">
                                </div>
                            </div>
                            <div class="card-title text-center">
                                <h3>{{games.game3.1}} @ {{games.game3.2}}</h3>
                                <h5> {{games.game3.5}} - {{games.game3.6}} </h5>
                            </div>
                            
                        </div>
                        <div class="card-body text-center">
                            <a href="/basketball/game/{{games.game3.0}}">Game Summary</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <img class="card-img-top" src="{% static games.game4.3 %}" alt="team1" style="max-width: 200px;">
                                </div>
                                
                                <div class="col">
                                    <img class="card-img-top" src="{% static games.game4.4 %}" alt="team2" style="max-width: 200px;">
                                </div>
                            </div>
                            <div class="card-title text-center">
                                <h3>{{games.game4.1}} @ {{games.game4.2}}</h3>
                                <h5> {{games.game4.5}} - {{games.game4.6}} </h5>
                            </div>
                            
                        </div>
                        <div class="card-body text-center">
                            <a href="">Game Summary</a>
                        </div>
                    </div>
                </div>
                <br>
        
        </div>
        
        <br>
        <h4 style="text-align: center;">Articles</h4>
        <hr style="background-color: grey; height: 1px;">
        <a href="/articles/playoffs">
            <div class="card col" style="max-height: 600px;">
                <div class="card-header" style="background-color: grey;">
                    <img class="card-img-top align" src="/static/img/playoffs_white.png" style="max-height: 500px">
                </div>
                <div class="card-body text-center">
                    <a href="/articles/playoffs">Catch up with the Postseason Teams</a>
                </div>
            </div>
        </a>
        <div class="row">
            <div class="card col">
                <div class="card-header" style="background-color: grey;">
                    <img src="/static/img/logo/logo.png" style="max-height: 100px; max-width: 100px;">
                    <h4 class="text-center" style="color: white"> PLACEHOLDER IMAGE</h4>
                </div>
                <div class="card-body text-center">
                    <a href="">Who do you think will win?</a>
                </div>
            </div>
            <div class="card col">
                <div class="card-header" style="background-color: grey;">
                    <img src="/static/img/logo/logo.png" style="max-height: 100px; max-width: 100px;">
                    <h4 class="text-center" style="color: white"> PLACEHOLDER IMAGE</h4>
                </div>
                <div class="card-body text-center">
                    <a href="">What is Sports Sim</a>
                </div>
            </div>
        </div>
    
    </div>
    {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="font-small blue pt-4">

        <!-- Footer Links -->
        <div class="container container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase">About Sport Simulator</h5>
                    <p>Sport Simulator is a project we are doing for fun since we can't actually watch any basketball because of what is going on in the world.</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Tools</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a style="color:blue" href="https://github.com/swar/nba_api">NBA API</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Connect with us</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a style="color:blue" href="https://www.linkedin.com/in/smmgibson/">Sam's LinkedIn</a>
                        </li>
                        <li>
                            <a style="color:blue" href="https://www.linkedin.com/in/justin-kelly-2196aa167/">Justin's LinkedIn</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a style="color:blue" href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

    </footer>
  </body>
</html>