{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.16.0/bootstrap-table.min.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.16.0/bootstrap-table.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   
   <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <!-- for charts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <title>Sports Simulator</title>

    <style>
        .navbar-brand{
            position: relative;
            width: 60px;
            height: 40px;
            background-size: contain;
        }
        .navbar-brand:hover{
            bottom: 1px;
        }

        a:hover {
            color: inherit;
        }

        .Site {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        .Site-content {
            flex: 1;
        }
        .cards{
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            margin-top: 15px;
            padding: 1.5%;
            max-width: auto;
        }
        .card{
            position: relative;
            margin: 20px;
        }

        .card-style {
            height:300px; 
            width:300px;
        }

        .card-center {
            margin: auto;
            width: 50% !important; 
        }

        .h4_text {
            font-size:26px;
        }

        .game_previews {
            font-size:18px;
        }

        .matchup_text {
            font-size: 20px;
        }

        .article_text {
            font-size:18px;
        }

        body {
            font-size: 16px;
        }

        .updated {
            font-size:17px;
        }

        .img_style {
            width: 90px;
            height: 90px;
            margin: auto;
        }

        .article_img {
            max-height: 80%;
        }

        .playoff_image {
            margin: auto;
            width: 100% !important; 
            height: 460px;
            width: 350px;
        }

        @media screen and (max-width: 600px) {
            body {
                font-size: calc(11px + 6 * ((100vw - 320px) / 680));
            }
            .matchup_text {
                font-size: 10px;
            }

            .game_previews {
                font-size:10px;
            }

            .updated {
                font-size:10px;
            }

            .img_style {
                width: 30px;
                height: 30px;
            }

            .card-style {
                height:180px; 
                width:120px;
            }

            .article_img {
                height: 40px;
                margin: auto;
                width: 100% !important; 
            }

            .article_text {
                font-size:10px;
                margin: auto;
                width: 100% !important; 
            }

            .playoff_image {
                height: auto;
                width:100%;
            }

            .h4_text {
                font-size:18px;
            }

        }
    </style>
  </head>
  <body class="Site">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="{% url 'home' %}" ><img class="navbar-brand hoverable" src="/static/img/SportSimLogoNEG.png" alt="sportsimlogo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'games_home' %}">Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teams_home' %}">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'standings_page'%}">Standings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'stats_leaders' %}">Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'playoffs_page' %}">Playoffs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mvp_vote' %}">Vote For MVP</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="{% url 'series_vote' %}">Vote For Series Matchups</a>
                </li>-->
            </ul>
            <button type="button" class="btn btn-primary btn-sm"><a style="color:white;" href="https://www.buymeacoffee.com/nbasimulator">Buy Us a Coffee</a></button>
        </div>
    </nav>
    <div class="Site-content">
    <!--for reusing the base.html in other html files-->
    {% block content %}
    <br>
    <div class="container">
        <br>
        <center>
            <img src="/static/img/SportSimLogo.png" alt="sports_sim Logo" style="width: 30%;">
         </center>
         <br>
        <hr style="height: 2px; background-color: black;">
        <br>
        <p class="h4_text" style="text-align:center;"> <a href="{% url 'playoffs_page' %}"> See Playoff Matchups<br/><b class="updated">Playoff Games Updated Daily at 2pm PST</b></a></p>
        <a href="{% url 'playoffs_page' %}"><img class="playoff_image" src="{% static 'img/playoff_image.png' %}"></img></a>
        <br/>
        <br/>
        <br/>
        {% if games %}
            <p class="h4_text" style="text-align: center;"> Upcoming Games Today</p>
            <div class="card-deck game_previews" style="margin-left:30px;">
                <div class="row">
                    {% for game in games%}
                        <a href="/basketball/game/{{game.0}}" style="color:inherit">
                        <div class="card card-style">
                            <div class="card-header">
                                <div class="row">
                                    <img class="card-img-top img_style" src="{% static game.3 %}" alt="team1">
                                    <img class="card-img-top img_style" src="{% static game.4 %}" alt="team2">
                                </div>
                                <div class="card-title text-center matchup_text">
                                    <br/>
                                    {{game.1}} @ {{game.2}}<br/>
                                    Game Date: {{game.5}}
                                </div>
                                
                            </div>
                            <div class="card-body text-center matchup_text" style="height:50px;">
                                <a href="/basketball/game/{{game.0}}">Game Preview</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if played_games %}
            <p class="h4_text" style="text-align: center;"> Games Today</p>
            <div class="card-deck game_previews" style="margin-left:30px;">
                <div class="row">
                    {% for game in played_games %}
                        <a href="/basketball/game/{{game.0}}" style="color:inherit">
                        <div class="card card-style">
                            <div class="card-header">
                                <div class="row">
                                    <img class="card-img-top img_style" src="{% static game.3 %}" alt="team1">
                                    <img class="card-img-top img_style" src="{% static game.4 %}" alt="team2">
                                </div>
                                <div class="card-title text-center matchup_text">
                                    <br/>
                                    {{game.1}} @ {{game.2}}<br/>
                                    Game Date: {{game.5}}
                                </div>
                                
                            </div>
                            <div class="card-body text-center matchup_text" style="height:50px;">
                                <a href="/basketball/game/{{game.0}}">Game Summary</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <br/>
        <br/>
        <p class="h4_text" style="text-align:center;"> <a href="{% url 'make_playoff_sim' %}"> Don't Like the Way the Playoffs are going?<br/> Make your own seeding and see what would have happened!</a></p>
        <br/>
        <br/>
        <br/>

        <!--<h4 style="text-align: center;"> Today's Highlights</h4>
        <hr style="background-color: grey; height: 1px;">
        <div class="cards card-center">
            <div class="row">
                <a href="/basketball/game/{{games.game1.0}}" style="color:inherit">
                <div class="card card-style">
                    <div class="card-header">
                        <div class="row">
                            <img class="card-img-top img_style" src="{% static games.game1.3 %}" alt="team1">
                            <img class="card-img-top img_style" src="{% static games.game1.4 %}" alt="team2">
                        </div>
                        <div class="card-title text-center matchup_text">
                            <br/>
                            {{games.game1.1}} @ {{games.game1.2}}<br/>
                            {{games.game1.5}} - {{games.game1.6}}
                        </div>
                        
                    </div>
                    <div class="card-body text-center matchup_text">
                        <a href="/basketball/game/{{games.game1.0}}">Game Summary</a>
                    </div>
                </div>
                </a>
                <a href="/basketball/game/{{games.game2.0}}" style="color:inherit">
                <div class="card card-style">
                    <div class="card-header">
                        <div class="row">
                            <img class="card-img-top img_style" src="{% static games.game2.3 %}" alt="team1">
                            <img class="card-img-top img_style" src="{% static games.game2.4 %}" alt="team2">
                        </div>
                        <div class="card-title text-center matchup_text">
                            <br/>
                            {{games.game2.1}} @ {{games.game2.2}}<br/>
                            {{games.game2.5}} - {{games.game2.6}}
                        </div>
                        
                    </div>
                    <div class="card-body text-center matchup_text">
                        <a href="/basketball/game/{{games.game2.0}}">Game Summary</a>
                    </div>
                </div>
                </a>
            </div>

            <div class="row">
                <a href="/basketball/game/{{games.game3.0}}" style="color:inherit">
                    <div class="card card-style">
                        <div class="card-header">
                            <div class="row">
                                <img class="card-img-top img_style" src="{% static games.game3.3 %}" alt="team1">
                                <img class="card-img-top img_style" src="{% static games.game3.4 %}" alt="team2">
                            </div>
                            <div class="card-title text-center matchup_text">
                                <br/>{{games.game3.1}} @ {{games.game3.2}}<br/>
                                {{games.game3.5}} - {{games.game3.6}}
                            </div>
                            
                        </div>
                        <div class="card-body text-center matchup_text">
                            <a href="/basketball/game/{{games.game3.0}}">Game Summary</a>
                        </div>
                    </div>
                </a>
                <a href="/basketball/game/{{games.game4.0}}" style="color:inherit">
                    <div class="card card-style">
                        <div class="card-header">
                            <div class="row">
                                <img class="card-img-top img_style" src="{% static games.game4.3 %}" alt="team1">
                                <img class="card-img-top img_style" src="{% static games.game4.4 %}" alt="team2">
                            </div>
                            <div class="card-title text-center matchup_text">
                                <br/>{{games.game4.1}} @ {{games.game4.2}}<br/>
                                {{games.game4.5}} - {{games.game4.6}}
                            </div>
                            
                        </div>
                        <div class="card-body text-center matchup_text">
                            <a href="/basketball/game/{{games.game4.0}}">Game Summary</a>
                        </div>
                    </div>
                </a>
            </div>
            <br>
        </div>-->
        <br>
        <h4 style="text-align: center;">Articles</h4>
        <hr style="background-color: grey; height: 1px;">
        <div class="cards">
            <div class="row">
                <!--<a href="{% url 'voting' %}">
                    <div class="card col">
                        <div class="card-header" style="background-color: white;">
                            <img class="card-img-top align" src="{% static 'img/voting-pie.png' %}">
                        </div>
                        <div class="card-body text-center">
                            <a href="{% url 'voting' %}">Voting</a>
                        </div>
                    </div>
                </a>-->
                <a href="{% url 'playoffs' %}">
                    <div class="card col mobile_style">
                        <div class="card-header" style="background-color: white;">
                            <img class="card-img-top align article_img" src="/static/img/playoffs_white.png">
                        </div>
                        <div class="card-body text-center article_text">
                            <a href="{% url 'playoffs' %}">Catch up with the Postseason Teams</a>
                        </div>
                    </div>
                </a>
                <a href="{% url 'whatissportssim' %}">
                    <div class="card col mobile_style">
                        <div class="card-header" style="background-color: white;">
                            <img class="card-img-top align article_img" src="/static/img/SportSimLogo.png">
                        </div>
                        <div class="card-body text-center article_text">
                            <a href="{% url 'whatissportssim' %}">What is Sports Sim?</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="font-small blue pt-4">

        <!-- Footer Links -->
        <div class="container container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <b class="text-uppercase">About Sport Simulator</b>
                    <p>Sport Simulator is a project we are doing for fun since we can't actually watch any basketball because of what is going on in the world.</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <b class="text-uppercase">Tools</b>

                    <ul class="list-unstyled">
                        <li>
                            <a style="color:blue" href="https://github.com/swar/nba_api">NBA API</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a style="color:blue" href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

    </footer>

  </body>

</html>